<mat-toolbar>
    <mat-toolbar-row>
        <span>BOM Sync</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let tab of tabs" label="{{tab}}">

        <div>
            {{getItems(tab) | json}}
        </div>
        <!--<div *ngFor="let mats of getItems(tab)">-->
        <!--

            
        <div>
            <mat-form-field>
                <mat-label>Cars</mat-label>
                <select matNativeControl [value]="stop">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>
        </div>
        -->
    </mat-tab>
</mat-tab-group>